.quiz-page {
  display: flex;
  flex-direction: column;
  gap: 3em;
  display: none;
  place-items: center;
  min-height: calc(90vh - 120px);
}

.nameInfo {
  font-size: 22px;
}

.scoreInfo {
  font-size: 22px;
}

.show {
  display: flex;
}
.quiz-name {
  font-size: 25px;
  margin-top: 1em;
}

.quiz-text {
  font-size: 22px;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 0.8em;
}
.btn-section {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.answer-btn {
  padding: 0.2em;
  width: 15em;
}

.timer {
  font-size: 20px;
  align-items: end;
}
.correct-answer {
  background-color: green;
  color: white;
}

.wrong-answer {
  background-color: red;
  color: white;
}

@media (min-width: 900px) {
  .quiz-page {
    gap: 4;
  }

  .quiz-name {
    margin-top: 2em;
  }

  .btn-section {
    margin-top: 1em;
  }
}
